
/* Style for the selected rating */
#selected-rating {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

/* Style for the book and note sections */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Style for the book cover image */
img {
  max-width: 100%;
  height: auto;
}

/* Style for the action links (View Content, Delete, Update) */
a {
  text-decoration: none;
  margin-right: 10px;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* Style for the buttons */
.btn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Additional styles as needed for your specific design */
/* Style for the star rating */
.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.star-rating i {
  cursor: pointer;
  font-size: 24px;
  color: #f1c40f;
  margin-right: 10px;
}

.star-rating i:hover,
.star-rating i.active {
  color: #f39c12;
}

ul li .star-rating {
  margin-top: 10px;
}

ul li .star-rating label.star {
  font-size: 24px;
  color: #f1c40f;
  margin-right: 5px;
}
/* CSS for rating bars */

.rating-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px; /* Khoảng cách giữa các rating container */
}


.rating-bar {
  /* flex: 1; */
  
  display: flex;
  align-items: center;
}

.label {
  margin-right: 10px;
  font-weight: bold;
  
}
.percentage-label {
  color: #000;
  font-weight: bold;
}
.numbers {
  margin-right: 10px; /* Khoảng cách giữa số liệu và thanh màu */
  color: #000;
  font-weight: bold;
}
.averages-label{
  color: #000;
  font-weight: bold;
}



.bar {
  height: 20px;
  background-color: #4caf50;
  margin-bottom: 3px;
  
}

